<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Auth - Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <br>
    <br>
    <h2>Login</h2>
    <br>
    <form action="/login" method="POST">
      <div class="row mb-3">
        <div class="col-sm-4">
          <label for="email" class="form-label">Email address</label>
          <input name="email" type="email" class="form-control" id="email" />
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-4">
          <label for="password" class="form-label">Password</label>
          <input name="password" type="password" class="form-control" id="password" />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <a class="ms-3" href="/register">register</a>
    </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
